td.form {font-style: italic}
td.proto:before {content: '*'}
td.gloss:before {content: '‘'}
td.gloss:after {content: '’'}
a.gbif img {height: 1.2em; width: 1.2em}
table.igt td {white-space: nowrap}
table.igt caption {caption-side: bottom; text-align: left; padding-top: 10px;}